<h1> <%= @post.title %> </h1>

<p><%= simple_format(@post.body) %></p>

<h2>Comments (from newest to oldest) </h2>
<div class="comments-container">
  <%= render @post.comments.order(created_at: :desc) %>
</div>

<%= render 'comments/form' %>

<%= link_to "Return to Home", root_path %>