<!DOCTYPE html>
<html>
  <head>
    <title>EliseuOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col">
    <%= render 'layouts/navigation' %>
    <% flash.each do |name, message| %>
      <div class="<%= name %>"> <%= message %> </div>
    <% end %>
    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
